<div class="wrap">
    <form method="post" action="{{ formActionLink }}">
        <a href="?page=wp-post-rating"
           class="page-title-action">{{ __('All votes', 'wp-post-rating') }}</a> &nbsp;

        <h1 class="wp-heading-inline">{{ __('Star rating settings') }}</h1>

        <table class="form-table">
            <tr>
                <th scope="row">{{ __('Star rating position in content') }}</th>
                <td>
                    <fieldset>
                        <legend class="screen-reader-text">
                            <span>
                                {{ __('Star rating position in content') }}
                            </span>
                        </legend>
                        <div class="shortcode-checked-js">
                            <p class="description" id="tagline-description">
                                {{ __('How to custom display rating widget. Shortcode or PHP') }}
                            </p>
                            <p>
                                <b>{{ __('Display in content') }}</b>
                                <input class="regular-text" value="[wp_rating]" onclick="select()"/>
                                <input class="regular-text" value="echo do_shortcode('[wp_rating]');"
                                       onclick="select()"/>
                            </p>
                            <p>
                                <b>{{ __('Display total votes for current post') }}</b>
                                <input class="regular-text" value="[wp_rating_total]"
                                       onclick="select()"/>
                                <input class="regular-text" value="echo do_shortcode('[wp_rating_total]');"
                                       onclick="select()"/>
                            </p>
                            <p>
                                <b>{{ __('Display average votes for current post') }}</b>
                                <input class="regular-text" value="[wp_rating_avg]"
                                       onclick="select()"/>
                                <input class="regular-text" value="echo do_shortcode('[wp_rating_avg]');"
                                       onclick="select()"/>
                            </p>
                        </div>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>
                    <fieldset>
                        <div class="wpr-wrapp wpr-wrapp-admin">
                            <div class="wpr-rating">
                                <span class="icon-star checked" data-value="5" title="Vote 5 "></span>
                                <span class="icon-star" data-value="4"
                                      title="Vote 4 "></span>
                                <span class="icon-star" data-value="3"
                                      title="Vote 3 "></span>
                                <span class="icon-star" data-value="2"
                                      title="Vote 2 "></span>
                                <span class="icon-star" data-value="1"
                                      title="Vote 1 "></span>
                            </div>
                            <div class="wpr-info-container">
                                <span>{{ __('Votes') }}&nbsp;</span>
                                <span class="wpr-total">(1)</span>
                            </div>
                        </div>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    {{ __('Stars color') }}
                </th>
                <td>
                    <fieldset>
                        <legend class="screen-reader-text">
                            <span>{{ __('Stars color') }}</span>
                        </legend>
                        <input class="color_chooser_js" name="main_color" type="text"
                               value="{{ options.getStarsMainColor }}"/>
                        <p class="colors-description" id="colors-description">
                            {{ __('Second (darker) color choose automatically') }}
                        </p>
                        <input class="second_color_chooser_js" name="second_color" type="hidden"
                               value="{{ options.getStarsSecondColor }}"/>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    {{ __('Text (border) color') }}
                </th>
                <td>
                    <fieldset>
                        <input class="text_color_chooser_js" name="text_color" type="text"
                               value="{{ options.getStarsTextColor }}"/>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    {{ __('Tooltip background color') }}
                </th>
                <td>
                    <fieldset>
                        <input class="text_background_color_chooser_js" name="text_background_color" type="text"
                               value="{{ options.getStarsTextBackgroundColor }}"/>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    {{ __('Enable schema markup') }}
                </th>
                <td>
                    <fieldset>
                        <input name="schema_enable"
                           type="checkbox"
                           value="1"
                           {% if options.isSchemaEnable %}checked{% endif %}
                        />
                    </fieldset>
                </td>
            </tr>
        </table>
        {{ formSubmitButton|raw }}
        {{ formHiddenField|raw }}
        <input type="hidden" name="action" value="wpr-update">
    </form>
</div>