{#<?php#}
<div class="wpr-wrapp" id="wpr-widget-{{ postId }}">
    <div class="wpr-rating" data-id="{{ postId }}">
        {% for i in 5..1 %}
        <span class="icon-star {% if i == avgRating %}checked{% endif %}" data-value="{{ i }}"
              title="{{ __("Vote %s"|format(i)) }}"></span>
        {% endfor %}
    </div>
    <div class="wpr-rating-loader wpr-hide">
        <i class="icon-spin4 animate-spin"></i>
    </div>
    <div class="wpr-info-container">
        {% if total %}
            <span>{{ __('Votes') }}&nbsp;</span>
            <span class="wpr-total">({{ total }})</span>
        {% else %}
            <span>{{ __('Vote') }}</span>
            <span class="wpr-total"></span>
        {% endif %}
    </div>
</div>
{{ jsonMarkup|raw }}