<div
    class="wpr-wrapp"
    id="wpr-widget-{{ postId }}"
    data-id="{{ postId }}"
    data-value="{{ avgRating }}"
    data-votesTitle="{{ __('Votes', PLUGIN_NAME) }}"
    data-total="{{ total }}"
></div>
{{ jsonMarkup|raw }}
