<div class="wpr-wrapp" id="wpr-widget-{{ postId }}" itemscope itemtype="http://schema.org/Product">
    <div class="wpr-rating" data-id="{{ postId }}" itemprop="aggregateRating" itemscope
         itemtype="http://schema.org/AggregateRating">
        {% for i in 5..1 %}
        <span class="icon-star{% if i == avg %}checked{% endif %}" data-value="{{ i }}"
              title="{{ _e("Vote %s"|format(i)) }}"></span>
        {% endfor %}
        <meta itemprop="worstRating" content="1">
        <meta itemprop="bestRating" content="5">
        <meta itemprop="reviewCount" content="{{ total }}">
        <meta itemprop="ratingValue" content="{{ avgRating }}">
    </div>
    <div class="wpr-rating-loader wpr-hide">
        <i class="icon-spin4 animate-spin"></i>
    </div>
    <div class="wpr-info-container">
        {% if total %}
            <span>{{ _e('Votes') }}&nbsp;</span>
            <span class="wpr-total">({{ total }})</span>
        {% else %}
            <span>{{ _e('Vote') }}</span>
            <span class="wpr-total"></span>
        {% endif %}
    </div>
    <meta itemprop="name" content="{{ title }}">
</div>
