<div
    class="wpr-wrapp"
    id="wpr-widget-{{ postId }}"
    data-id="{{ postId }}"
    data-value="{{ avgRating }}"
    data-votestitle="{{ __('Votes', PLUGIN_NAME) }}"
    data-total="{{ total }}"
    data-fontsize="30px"
></div>
{{ jsonMarkup|raw }}
